{

  "RegisteredUsers" : PHI_REGISTERED_USERS,
  "PostgreSQL" : { "EnableIndex" : true,
                   "EnableStorage" : false,
                   "Host" : "COMMON_BASENAME_phi_postgres",
                   "Database" : "COMMON_BASENAME_phi_orthanc_db",
                   "Username" : "COMMON_BASENAME_phi_orthanc",
                   "Password" : "PHI_PASSWORD_FOR_PG_USER_ORTHANC"}
}
